:root {
  --bg-color: white;
  --text-color: black;
}

html[data-theme="dark"] {
  --bg-color: #0d1117;
  --text-color: white;
}

body {
  background-color: var(--bg-color) !important;
  color: var(--text-color) !important;
}
 
